.completed-tasks-container {
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .completed-task {
    text-decoration: line-through;
    color: #888;
  }
  